---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  {{- if (index .Values "cert-manager" "enable") }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "emqx-operator.fullname" . }}-serving-cert
  {{- end}}
  name: {{ include "emqx-operator.fullname" . }}-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: {{ include "emqx-operator.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-apps-emqx-io-v1beta1-emqxbroker
  failurePolicy: Fail
  name: mutating.broker.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxbrokers
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: {{ include "emqx-operator.fullname" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-apps-emqx-io-v1beta1-emqxenterprise
  failurePolicy: Fail
  name: mutating.enterprise.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxenterprises
  sideEffects: None
