
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-emqx-io-v1beta4-emqxbroker
  failurePolicy: Fail
  name: mutating.broker.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxbrokers
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-emqx-io-v1beta4-emqxenterprise
  failurePolicy: Fail
  name: mutating.enterprise.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxenterprises
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-emqx-io-v1beta4-emqxplugin
  failurePolicy: Fail
  name: mutating.emqxplugin.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxplugins
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-emqx-io-v2alpha1-emqx
  failurePolicy: Fail
  name: mutating.apps.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxes
  sideEffects: None

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-emqx-io-v1beta4-emqxbroker
  failurePolicy: Fail
  name: validator.broker.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxbrokers
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-emqx-io-v1beta4-emqxenterprise
  failurePolicy: Fail
  name: validator.enterprise.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxenterprises
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-emqx-io-v1beta4-emqxplugin
  failurePolicy: Fail
  name: validator.emqxplugin.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v1beta4
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxplugins
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-emqx-io-v2alpha1-emqx
  failurePolicy: Fail
  name: validator.apps.emqx.io
  rules:
  - apiGroups:
    - apps.emqx.io
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emqxes
  sideEffects: None
