## full example
apiVersion: apps.emqx.io/v1alpha2
kind: EmqxBroker
metadata:
  name: emqx
spec:
  serviceAccountName: "emqx"
  image: emqx/emqx:4.3.10
  replicas: 3
  labels:
    cluster: emqx
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: hostpath
        resources:
          requests:
            storage: 20Mi
        accessModes:
        - ReadWriteMany
  listener: 
    type: LoadBalancer
    ports:
      - name: api
        protocol: TCP
        port: 8082
  acl: >
    {allow, {user, "dashboard"}, subscribe, ["$SYS/#"]}.
    {allow, {ipaddr, "127.0.0.1"}, pubsub, ["$SYS/#", "#"]}.
    {deny, all, subscribe, ["$SYS/#", {eq, "#"}]}.
    {allow, all}.
  loadedPlugins: >
    {emqx_management, true}.
    {emqx_recon, true}.
    {emqx_retainer, true}.
    {emqx_dashboard, true}.
    {emqx_telemetry, true}.
    {emqx_rule_engine, true}.
    {emqx_bridge_mqtt, false}.
  loadedModules: >
    {emqx_mod_acl_internal, true}.
    {emqx_mod_presence, true}.
    {emqx_mod_delayed, false}.
    {emqx_mod_rewrite, false}.
    {emqx_mod_subscription, false}.
    {emqx_mod_topic_metrics, false}.