---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: rebalances.apps.emqx.io
spec:
  group: apps.emqx.io
  names:
    kind: Rebalance
    listKind: RebalanceList
    plural: rebalances
    singular: rebalance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta4
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              instanceName:
                type: string
              rebalanceStrategy:
                properties:
                  absConnThreshold:
                    format: int32
                    type: integer
                  absSessThreshold:
                    format: int32
                    type: integer
                  connEvictRate:
                    format: int32
                    type: integer
                  relConnThreshold:
                    type: string
                  relSessThreshold:
                    type: string
                  sessEvictRate:
                    format: int32
                    type: integer
                  waitHealthCheck:
                    format: int32
                    type: integer
                  waitTakeover:
                    format: int32
                    type: integer
                type: object
            type: object
          status:
            properties:
              completedTime:
                format: date-time
                type: string
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              phase:
                type: string
              rebalanceStates:
                items:
                  properties:
                    connection_eviction_rate:
                      format: int32
                      type: integer
                    coordinator_node:
                      type: string
                    donors:
                      items:
                        type: string
                      type: array
                    node:
                      type: string
                    recipients:
                      items:
                        type: string
                      type: array
                    session_eviction_rate:
                      format: int32
                      type: integer
                    state:
                      type: string
                  type: object
                type: array
              startedTime:
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
