name: Run emqx operator test case

checklog: &checklog
  - if: failure()
    run: kubectl describe sts ${{ matrix.emqx[0]}}
  - if: failure()
    run: kubectl describe pods -l "cluster=emqx"
  - if: failure()
    run: kubectl exec -i ${{ matrix.emqx[0] }}-0 -- curl --silent --basic -u admin:public -X GET http://localhost:8081/api/v4/brokers | jq '.data'
  - if: failure()
    run: kubectl logs ${{ matrix.emqx[0] }}-0 -c emqx --tail=1000
  - if: failure()
    run: kubectl logs ${{ matrix.emqx[0] }}-1 -c emqx --tail=1000
  - if: failure()
    run: kubectl logs ${{ matrix.emqx[0] }}-2 -c emqx --tail=1000
  - if: failure()
    run: kubectl logs ${{ matrix.emqx[0] }}-3 -c emqx --tail=1000
  - if: failure()
    run: kubectl logs ${{ matrix.emqx[0] }}-4 -c emqx --tail=1000
  - if: failure()
    run: kubectl logs -l "control-plane=controller-manager" -n emqx-operator-system -c manager --tail=1000

on:
  push:
    tags:
      - "*"
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.3'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          args: --timeout=5m

  test:
    runs-on: ubuntu-latest
    steps:
      - run: minikube start
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.3'
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: install kubebuilder
        run: |
          OS=$(uname -s | tr '[:upper:]' '[:lower:]')
          ARCH=$(uname -m | sed 's/x86_64/amd64/')
          curl -fsL "https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.16.4-${OS}-${ARCH}.tar.gz" -o kubebuilder-tools
          tar -zxvf kubebuilder-tools
          sudo mv kubebuilder/ /usr/local/kubebuilder
      - run: make test
      - run: go tool cover -func=cover.out

  helm:
    runs-on: ubuntu-latest
    steps:
      - run: minikube start
      - name: install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install \
            cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --version v1.6.1 \
            --set installCRDs=true
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.3'
      - name: Build image
        env:
          IMG: "emqx/emqx-operator-controller:${{ github.sha }}"
        run: eval $(minikube docker-env) && docker build -t $IMG .
      - name: Run helm chart
        run: |
          helm install emqx-operator deploy/charts/emqx-operator \
            --set installCRDs=true \
            --set image.tag=${{ github.sha }} \
            --namespace emqx-operator-system \
            --create-namespace
      - name: Check operator
        timeout-minutes: 15
        run: |
          set -euo pipefail
          while [ "$(kubectl get pods -l "control-plane=controller-manager" -n emqx-operator-system -o json | jq '.items[0].status.containerStatuses[] | select(.ready==true) | .containerID')" = "" ]; do
            echo "waiting operator controller pod running"
            sleep 1
          done
      <<: *checklog

  deployment:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        apiVersion:
          - v1beta1
          - v1beta2
        emqx:
          - [emqx, "emqx/emqx:4.4.1"]
          - [emqx-ee, "emqx/emqx-ee:4.4.0"]
    steps:
      - run: minikube start
      - name: install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install \
            cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --version v1.6.1 \
            --set installCRDs=true
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.3'
      - uses: actions/checkout@v2
      - name: Build image
        env:
          IMG: "emqx/emqx-operator-controller:${{ github.sha }}"
        run: eval $(minikube docker-env) && docker build -t $IMG .
      - name: Deploy controller
        env:
          IMG: "emqx/emqx-operator-controller:${{ github.sha }}"
        run: make deploy
      - name: Check operator
        timeout-minutes: 5
        run: |
          set -euo pipefail
          while [ "$(kubectl get pods -l "control-plane=controller-manager" -n emqx-operator-system -o json | jq '.items[0].status.containerStatuses[] | select(.ready==true) | .containerID')" = "" ]; do
            echo "waiting operator controller pod running"
            sleep 1
          done
      - name: Deployment emqx
        timeout-minutes: 5
        uses: ./.github/actions/deployment
        with:
          apiVersion: ${{ matrix.apiVersion }}
          kind:  ${{ matrix.emqx[0] }}
          image: ${{ matrix.emqx[1] }}
      <<: *checklog